.root {
  padding-top: rem(80px);
  padding-bottom: rem(80px);
}

.nfTitle {
  font-weight: 900;
  font-size: rem(34px);
  margin-bottom: var(--mantine-spacing-md);
  font-family: 'Greycliff CF', var(--mantine-font-family);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(32px);
  }
}

.control {
  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
}

.mobileImage {
  @media (min-width: 48em) {
    display: none;
  }
}

.desktopImage {
  @media (max-width: 47.99em) {
    display: none;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}
